<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.pnpl.analysis.analyzer.products" name="Products Analysis" schema="schema/org.pnpl.analysis.products.exsd"/>
   <extension-point id="org.pnpl.analysis.analyzer.pnpl" name="Petri Net Product Lines Analysis" schema="schema/org.pnpl.analysis.pnpl.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.pnpl.analysis.handlers.AnalysisHandlerPNPL"
            description="Analysis of Petri Net Product Lines"
            id="pnpl.analysis.commandPNPL"
            name="Analysis for PNPL">
      </command>
      <command
            defaultHandler="org.pnpl.analysis.handlers.AnalysisHandlerProducts"
            description="Analysis of Products"
            id="pnpl.analysis.commandProducts"
            name="Analysis for Products">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="org.pnpl.analysis.analyzer.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.pnpl.analysis_menu"
               label="PNPL Analysis">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.name"
                        value="*.vrb">
                  </test>
               </iterate>
            </visibleWhen>
            <command
                  commandId="pnpl.analysis.commandPNPL"
                  label="Petri Net Product Lines"
                  style="push"
                  tooltip="Analysis of Petri Net Product Line">
            </command>
            <command
                  commandId="pnpl.analysis.commandProducts"
                  label="All Products"
                  style="push"
                  tooltip="Analysis of all Products derived from PNPL">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
