<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="PetriNets.PetriNetsPackage"
            genModel="model/PetriNets.genmodel"
            uri="http://www.petrinets.org/">
      </package>
   </extension>

</plugin>
